.burger-button {
  position: relative;
  img {
    width: 15px;
    transform: rotate(90deg);
    position: absolute;
    left: -15px;
    top: -32px;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
