.wrapper__auth-fields__l {
  height: 356px !important;

  input {
    width: 340px;
    height: 56px;
  }
}

#basic_username,
#basic_password {
  width: 340px !important;
  height: 56px;
}

#button--submit {
  width: 340px;
  height: 56px;
}

.register {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.11428570002317429px;
  opacity: 0.7;
  text-align: center;
  padding-top: 10px;
  transition: opacity 0.2s linear;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
